<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuespotsolutions.ravinder077.friendsapp">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name="com.tuespotsolutions.ravinder077.friendsapp.controller.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.PageCreated"></activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.PageContents">

        </activity>

        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.ChatActivityTest"></activity>

        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.WallCardClick">

        </activity>

        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.PageMainActivity"></activity>

        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.ChatActivity">

        </activity>

        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.GroupCreate">

        </activity>

        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.MainActivity">

        </activity>

        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.MyGpsTracker">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.NewChatFriend">

        </activity>

        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.otp">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.Pagecatagory">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.PageDescription">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.model.PostData">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.ProfilePage">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.Upload_Photo">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.WallCardClick">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.PostPhoto">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.User_Name">

        </activity>
        <activity android:name="com.tuespotsolutions.ravinder077.friendsapp.activity.PageDetail"></activity>

        <service android:name="com.tuespotsolutions.ravinder077.friendsapp.service.PhotoService" />
<service android:name="com.tuespotsolutions.ravinder077.friendsapp.service.PhotoServiceFriends"/>

        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.example.ExampleActivity" />

        <meta-data android:name="android.app.searchable"
            android:resource="@layout/searchable" />


    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>

    </application>




</manifest>